h1 {
    color: rgb(14, 14, 14);
}
img{
    max-width:100%;
}
ul{
    padding: 0;
    list-style-type: none;
}
ul{
    width:calc(( 100vw / 3) - 20px) ;
    display: inline-block;
}

body {
    color: #2c2c2c;
  }