h1 {
    color: rgb(14, 14, 14);
}
img{
    max-width:100%;
}
ul{
    padding: 0;
    list-style-type: none;
}
ul{
  display: flex;
}

body {
    color: #2c2c2c;

    font-family: "Helvetica";
}
article {
  margin : 0 auto;
  max-width : 60em ; 

line-height: 1.5;
padding: 4em 6em;
}
h2 {
  margin-top: 1em;
  padding-top: 1em;
}
code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

.tabelle_inhalt{
  padding: 2em;
}
footer {
  margin : 0 auto;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #1f1f1f;
  color :#eee;
}
.tabelle_Buch {

}